<button ng-click="tableParams.reload()" class="btn btn-default">Reload</button>
<button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>
<div class="clearfix"></div>
<div loading-container="tableParams.settings().$loading">
  <table ng-table="tableParams" show-filter="true" class="table">
    <tbody>
      <tr ng-repeat="article in $data">
        <td data-title="'Title'" sortable="title">
                {{article.title}}
                {{$loading}}
            </td>
        <td data-title="'Social Shares'" sortable="current_facebook_shares">
                {{article.current_facebook_shares}}
            </td>
      </tr>
    </tbody>
  </table>
</div>
